<h1 class="artist-search">Search results</h1>
<div class="artist-gid">
    {{#each artists}}
        <div class="info-artists">
            <h2>{{name}}</h2>
            <img src="{{images.[1].url}}" alt="{{name}} Image"/>         
            <a href="/albums/{{id}}">View Albums</a>  
        </div>
    {{/each}}
</div>