<form class="center-home-page" action="/artistSearch", method="GET">
    <input class="input-home-page" type="text" name="q" placeholder="Search here...">
    <button class="btn-home-page" type="submit">Seach for an Artist</button>
</form>