<div class="center-home-page">
    <form class="search-input" action="/artistSearch", method="GET">
        <input class="input-home-page" type="text" name="q" placeholder="Search here...">
        <button class="search-btn-home-page" type="submit">Seach for an Artist</button>
    </form>
</div>