<h1>tracks</h1>

{{#each artistPreviewTracks}}
    <div class="artist-info">
        <h2>{{name}}</h2>        
        <audio controls src="{{preview_url}}">This audio is not available.</audio>
    </div>
{{/each}}