.homePage {
    height: 100vw;
    background: url(/images/spotify-background.jpeg) no-repeat center center fixed;
    background-size: cover;
    overflow: hidden;
}


.center-home-page {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}